<%include ../part/header.ejs%>
<body>
    <%include ../part/title.ejs%>
    <br>
    <%if (err || list.length == 0) {%>
        <%=(err ? err : '空空如也')%>
    <%} else {%>
        <%for(var i = 0; i < list.length; i ++) {%>
            <%=list[i]._id%>
            <br>
        <%}%>
    <%}%>
    <%include ../part/bottom.ejs%>
</body>
<script>
    $('#title').html('我关注的');
</script>
</html>