<%include ../part/header.ejs%>
<body>
    <%include ../part/title.ejs%>
    <br>
    <%if (err || list.length == 0) {%>
        <%=(err ? err : '空空如也')%>
    <%} else {%>
        <%for (var i = 0; i < list.length; i ++) {%>
            <table>
                <tr>
                    <td rowspan="3"><img src="" alt="缩略图"/>&nbsp;</td>
                    <td colspan="2"><%=list[i].title%></td>
                </tr>
                <tr>
                    <td>留言.数量</td>
                    <td>浏览.数量</td>
                </tr>
                <tr>
                    <td colspan="2">擦亮 编辑 删除</td>
                </tr>
            </table>
            <br>
        <%}%>
    <%}%>
    <%include ../part/bottom.ejs%>
</body>
<script>
    $('#title').html('我发布的');
</script>
</html>