<%include ../part/header.ejs%>
<body>
    <%include ../part/title.ejs%>
    <div class="detail-author">
    
    </div>
    <div class="detail-content">
    
    </div>
    <div class="detail-pics">
    </div>
    <div class="detail-comment">
    </div>
    <div class="detail-operator">
    </div>
</body>
<script>
    $('#title').html('详情页');
</script>
</html>